* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 30px;
}

button {
  width: 40px;
}

input,
textarea {
  max-width: 100px;
}
