* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.msg {
  width: 200px;
  border: 2px solid;
  margin: 20px auto 0 0;
  padding: 7px;
  text-align: center;
  overflow: hidden;
  font-size: 0.6rem;
}
