<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%=title%></title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
  </head>
  <body>
    <h1>Analytics</h1>

    <div style="display: grid; place-content: center">
      <% tab.forEach((data) => { %>
      <article
        style="
          border: 2px solid;
          border-radius: 10px;
          padding: 5px;
          margin: 7px;
        "
      >
        <h2><%=data.domain%></h2>
        <p>CONTEO de VISITAS: <%=data.count%></p>
        <p>Desde: <span><%=data.date%></span></p>
      </article>
      <% }) %>
    </div>
  </body>
</html>
