<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%=title%></title>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/styles/main.css"
    />
    <script src="/scripts/main.js" defer></script>

    <!-- <link rel="favicon" href="" /> -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" sizes="any" />
  </head>
  <body>
    <h1>Visitas</h1>
    <div
      style="
        display: flex;
        width: 250px;
        flex-direction: column;
        overflow: hidden;
      "
    >
      <% tab.forEach((data) => { %>
      <a href="<%=data.domain%>">
        <article
          style="
            display: grid;
            place-content: center;
            border: 2px solid;
            border-radius: 10px;
            padding: 5px;
            margin: 7px;
            font-size: 0.6rem;
            place-content: center;
          "
        >
          <h2><%=data.domain%></h2>
          <p>CONTEO de VISITAS: <%=data.count%></p>
          <p>Desde: <span><%=data.date%></span></p>
          <p>Clicks: <span><%=data.clicks%></span></p>
        </article>
      </a>
      <% }) %>
    </div>

    <hr />
    <section
      style="
        width: 90vw;
        height: 400px;
        overflow: scroll;
        margin: 0 auto;
        scrollbar-width: none;
        font-size: 0.6rem;
      "
    >
      <h2>Form WebDev</h2>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          flex-wrap: wrap;
        "
        id="messages"
      ></div>
    </section>
  </body>
</html>
