<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
  </head>
  <body>
    <!-- https://wvlhqwzk-3000.use2.devtunnels.ms -->
    <div>
      <section>
        <form
          action="https://wvlhqwzk-3000.use2.devtunnels.ms/login"
          method="post"
        >
          <div>
            <label>Usuario</label>
            <input name="username" type="text" />
          </div>
          <div>
            <label>Contraseña</label>
            <input name="password" type="password" />
          </div>
          <div>
            <button>Enviar</button>
          </div>
        </form>
      </section>
      <div><%=messages%></div>
    </div>
  </body>
</html>
